html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a:-webkit-any-link{
	text-decoration: none;
}

.submit-button{
	margin: .5rem;
	border: none;
	text-transform: uppercase;
	background-color:rgb(26, 25, 25);
	color: #f4f4f4;
	font-size: 12px;
	letter-spacing: 1px;
	padding: .5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
}

.error{
	color: red;
	font-size: 12px;
}